.chart{
  display: flex;
  align-items: center;
  margin: 110px 100px;
  color: #444;
  font-size: 700px !important;


}
.imagefor {
    width: 700px; /* nouvelle largeur */
    height: 550px; /* nouvelle hauteur */
}
.forgetpaper {
  /* Customize the styling for the login form */
  padding: 30px;
 width: 850px;
 height: 250px;
  font-size: 900px !important;
 align-items: center;
}
.submit{
 margin-top: 10px;
}
error {
  color: red; /* Set the text color to red */
  font-size: 14px; /* Set the font size */
  margin-top: 4px; /* Add some top margin for spacing */
}

error {
      color: red; /* Set the text color to red */
      font-size: 14px; /* Set the font size */
      margin-top: 4px; /* Add some top margin for spacing */
    }
    .success-message {
      background-color: lightgreen;
      padding: 10px;
      border: 1px solid green;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .close-icon {
      cursor: pointer;
      font-size: 20px;
    }
    .error-message {
      background-color: lightcoral;
      padding: 10px;
      border: 1px solid red;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }