.chart{
  display: flex;
  align-items: center;
  margin: 100px 70px;
  color: #444;
  font-size: 720px !important;


}
.imagefor {
    width: 530px; /* nouvelle largeur */
    height: 380px; /* nouvelle hauteur */
}
.forgetpaper {
  /* Customize the styling for the login form */
  padding: 0px;
 width: 800px;
 height: 260px;
  font-size: 780px !important;
 align-items: center;
}
.submit{
 margin-top: 10px;
}
error {
  color: red; /* Set the text color to red */
  font-size: 14px; /* Set the font size */
  margin-top: 4px; /* Add some top margin for spacing */
}

  /*  .success-message {
      background-color: lightgreen;
      padding: 10px;
      border: 1px solid green;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .close-icon {
      cursor: pointer;
      font-size: 20px;
    }*/
    .error-message {
      background-color: lightcoral;
      padding: 10px;
      border: 1px solid red;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    /* CSS pour l'alerte de succès */
    .success-message {
     background-color: #2196F3; /* Couleur de fond verte */
      color: white; /* Texte blanc */
      padding: 15px 18px; /* Espacement intérieur */
      border-radius: 4px; /* Coins arrondis */
      margin: 10px auto; /* Marge supérieure et inférieure, centrée horizontalement */
      position: relative; /* Position relative pour le bouton de fermeture */
      max-width: 380px; /* Largeur maximale de l'alerte */
      text-align: center; /* Alignement du texte au centre */
    }

    .success-message .close-icon {
      position: absolute; /* Position absolue pour le bouton de fermeture */
      top: 0;
      right: 0;
      padding: 10px;
      cursor: pointer;
    }

    .success-message .close-icon:hover {
      background-color: #45a049; /* Couleur de fond plus foncée au survol */
    }
