/* Add your custom CSS styles for the Login component here */
.login-paper {
  /* Customize the styling for the login form */
  padding: 100px;
  max-width: 600px;
  font-size: 300px !important;
  
}

/* Add any other custom styles as needed */
  
.loginUpdateImg{
  width: 350px;
  height: 350px;
  border-radius: 100px;
 
  margin-right: 0px;
 
}

.chart{
  display: flex;
  align-items: center;
  margin: 150px 100px;
  color: #444;
  font-size: 300px !important;

 
}
.MuiTypography-subtitle2 {
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.57;
    letter-spacing: 0.00714em;
    margin-top: 10px !important;
}
.MuiTypography-subtitle2:hover {
    cursor: pointer;
    color: blue;
}