/* CommentsPopup.css */
.comments-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 999;
  width: 400px; /* Adjust the width as needed */
}

.comments-popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-icon {
  cursor: pointer;
}
.custominput {
  width: 65%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 11px;
  color: #333;
  background-color: #fff;
   margin-right: 10px;
}

.custominput::placeholder {
  color: #999;
}
