/* ImportComponent.css */
.import-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.import-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.import-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.loading {
  margin-top: 10px;
  font-weight: bold;
  color: #007bff;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.error {
  color: red; /* Set the text color to red */
  font-size: 14px; /* Set the font size */
  margin-top: 4px; /* Add some top margin for spacing */
}
.success-message {
  background-color: lightgreen;
  padding: 10px;
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-icon {
  cursor: pointer;
  font-size: 20px;
}
.error-message {
  background-color: lightcoral;
  padding: 10px;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tag3 {
    display: block;
    width: 14%;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
   background: rgb(238,174,202);
   background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color: #fff;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
    transition: all 0.3s ease;
}

.tag3:hover {
    background: #ffffff;
    color: #743ad5;
    border: 2px solid #743ad5;
}