.reclamation {
    flex: 4;
    padding: 20px;
  }
  /*.reclamationTitle{
    text-align: center;
  }*/
  /*.reclamationTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }*/
  
  .reclamationAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
  }
  
  /*.reclamationContainer {
    display: flex;
    margin-top: 20px;
  }*/
  
  /*.reclamationShow {
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }*/
  
  .reclamationUpdate {
    flex: 2px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75); /* arriere gris*/
    margin-left: 20px;
  }
  
  .reclamationShowTop {
    display: flex;
    align-items: center;
  }
  
 /* .reclamationShowImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }*/
  
  /*.reclamationShowTopTitle {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }*/
  
  /*.reclamationShowUsername {
    font-weight: 600;
  }
  
  .reclamationShowUserTitle {
    font-weight: 300;
  }
  
  .reclamationShowBottom{
      margin-top: 20px;
  }
  
  .reclamationShowTitle {
    font-size: 14px;
    font-weight: 600;
    color: rgb(175, 170, 170);
  }
  
  .reclamationShowInfo{
      display: flex;
      align-items: center;
      margin: 20px 0px;
      color: #444;
  }
  
  .reclamationShowIcon{
      font-size: 16px !important;
  }
  
  .reclamationShowInfoTitle{
      margin-left: 10px;
  }
  
  .reclamationUpdateTitle{
      font-size: 24px;
      font-weight: 600;
  }*/
  
  .reclamationUpdateForm{
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
  }
  
  .reclamationUpdateItem{
      display: flex;
      flex-direction: column;
      margin-top: 30px;
  }
  
  /*.reclamationUpdateItem>label{
      margin-bottom: 5px;
      font-size: 14px;
  }*/
  
  .form-control{
    
      width: 600px;
   
     
  }

  

  
  .reclamationUpdateImg{
      width: 300px;
      height: 400px;
      border-radius: 50px;
      
      margin-right: 90px;
      margin-top: 90px;
  }
  
 /* .reclamationUpdateIcon{
      cursor: pointer;
  }*/
  
  .reclamationUpdateButton{
      border-radius: 5px;
      border: none;
      padding: 5px;
      cursor: pointer;
      background-color: darkblue;
      color: white;
      font-weight: 600;
      margin-left: 250px;
  }
  error {
    color: red; /* Set the text color to red */
    font-size: 14px; /* Set the font size */
    margin-top: 4px; /* Add some top margin for spacing */
  }
  .success-message {
    background-color: lightgreen;
    padding: 10px;
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .close-icon {
    cursor: pointer;
    font-size: 20px;
  }
  .error-message {
    background-color: lightcoral;
    padding: 10px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .RecUpdateButton1{
      display: block;
      width: 30%;
      padding: 9px 15px;
      border: none;
      border-radius: 5px;
     background: rgb(238,174,202);
     background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
      color: darkblue;
      font-size: 14px;
      text-align: center;
      cursor: pointer;

      border: 2px solid transparent;
      background-clip: padding-box;
      transition: all 0.3s ease;
       margin-left: 225px;
  }

  .RecUpdateButton1:hover {
      background: #ffffff;
      color: darkblue;
      border: 2px solid darkblue;
  }