/* Modal.css */
.modalDiffusionList {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999; /* Ensure the modal appears above other content */
  display: block; /* Make sure it's visible */
  width:50%;
  hieght:50%;
  /* Add more styling as needed */
}

.modalDiffusionList h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.save5{
    background-color:rgb(63,94,251);
    background: #743ad5;
    color: white;
    padding: 4px;
    width: 10%;
    border: none;
    border-radius: 5px;
}
.save5:hover{
    background: #ffffff;
    color: #743ad5;
    border: 2px solid #743ad5;
}
/* Add more CSS styling for buttons, lists, etc. */
